.leaderboard-container{
    background-color: rgb(228, 228, 228);
}

.leaderboard-container h4{
    font-size: 35px;
}

.toppers-card{
    text-align: center;
}

.rank-card h5, .rank-rows h5{
    font-size: 30px; 
}

.rank-rows {
    position: relative;
    top: 0;
    z-index: 99;
    background-color: white;
    padding: 30px 0;
    height: 200px;
}

.toppers-card{
    max-width: 800px;
    margin: 0 auto;
}

.toppers-card h4{
    text-align: center;
}

.rank-card {
    display: flex;
    position: relative;
    bottom: 114px;
    gap: 60px;
    justify-content: space-between;
}

#rank-1{
    position: relative;
    top: 200px;
    z-index: 1;
}

#rank-1 h5 {
    position: relative;
    bottom: 340px;
    left: 66px;
    z-index: 99;
}

#rank-1 p {
    position: relative;
    bottom: 340px;
    left: 85px;
    z-index: 99;
}

#rank-2 {
    position: relative;
    top: 300px;
    z-index: 1;
} 

#rank-2 h4{
    position: relative;
    bottom: 560px;
    z-index: 99;
}

#rank-2 h5 {
    position: relative;
    bottom: 367px;
    left: 60px;
    z-index: 99;
}

#rank-2 p {
    position: relative;
    bottom: 367px;
    left: 80px;
    z-index: 99;
}

#rank-3{
    position: relative;
    top: 350px;
    z-index: 1;
}


#rank-3 h4{
    position: relative;
    bottom: 490px;
    z-index: 99;
}

#rank-3 h5 {
    position: relative;
    bottom: 327px;
    left: 76px;
    z-index: 99;
}

#rank-3 p {
    position: relative;
    bottom: 330px;
    left: 97px;
    z-index: 99;
}

#rank-4, #rank-5, #rank-6 {
    border: 1px solid;
    margin: 10px 70px;
    border-radius: 5px;
    padding: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}