.quiz-container{
    margin: 0;
    line-height: 50px;
}

.quiz-play {
    padding: 20px;
}

.progress-container{
    background-color: #e0e0e0;
    height: 10px;
    overflow: hidden;
    border-radius: 15px;
}

.progress-bar{
    background-color: #ffcc00;
}

.progress-indicator{
    font-size: 42px;
    font-weight: 600;
    line-height: 2;
}

.question-card {
    padding: 20px 0;
}

.question-cards h2{
    font-size: 24px;
    font-weight: 600;
}

.question-card h2{
    font-size: 20px;
    font-weight: 600;
    margin-right: 5px;
}

.option {
    font-weight: 600;
}

.option label{
    padding: 5px;
}

.submit-button{
    position: absolute;
    right: 0;
}