.flex-col{
    align-items: center;
    line-height: 3;
}

.signup-sec{
    max-width: 1050px;
    margin: 0 auto;
    /* margin-top: 200px; */
}

.signup-form input{
    width: 440px;
    height: 50px;
    border-radius: 10px;
    padding: 0 1.5rem;
}

.signup-form h1{
    font-size: 32px;
    font-weight: 700;
}

.signup-form p{
    font-size: 16px;
    font-weight: 400;
}

.signup-btn{
    background-color: rgba(243, 189, 0, 1);
    border-radius: 100px;
}

#first-name, #email, #password{
    flex-direction: column;
}